/* Top Level */
html {
  /*background: url(../img/Background.png) no-repeat center center fixed;*/
  background: #121212 no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: "Glacial-Indifference", sans-serif;
  color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Glacial-Indifference", sans-serif;
}

/* Top Header */

.top-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}

.top-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  height: 85px;
}

.theme-color {
  color: #FC5D7C;
}

/* Hero */
#hero {
  min-height: 100vh;
}

.header {
  font-size: 8rem;
  width: 550px;
}

/* Card */

.set {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card {
  background: #eeeeee;
  color: #121212;
  margin: 2rem;
  flex: 3;
  min-height: 300px;
}

.card-title {
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: #121212;
  border-bottom: 5px solid #FC5D7C;
  transition: all .3s ease;
}

.card-link:hover {
  background: #FC5D7C;
  color: #f5f5f5;
}

.card-description {
  font-size: 2.5rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 650px){
	.header {
		font-size: 5rem;
    max-width: 250px;
	}

  .card-title {
    font-size: 6rem;
  }

  .card-description {
    font-size: 3.5rem;
  }
}

/* === Footer === */
footer {
	position: absolute;
	margin: 5rem;
}

#footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#footer-name, #footer-madeby {
	margin-bottom: 0;
	margin-top: 0;
  margin-left: 1rem;
}

#footer-name {
	font-family: "GlacialIndifference-Bold";
}

#footer-desc {
	font-size: 2.5rem;
}

#footer-logo {
	height: 75px;
	width: 75px;
	border-radius: 10px;
}

#footer-link {
	color: #f5f5f5;
	text-decoration: none;
}
