/* Top Level */
html {
  /*background: url(../img/Background.png) no-repeat center center fixed;*/
  background: #121212 no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: "Glacial-Indifference", sans-serif;
  color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Glacial-Indifference", sans-serif;
}

/* Top Header */

.top-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
}

.top-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  height: 85px;
}

.theme-color {
  color: #FC5D7C;
}

/* Hero */
#hero {
  min-height: 100vh;
}

.header {
  font-size: 8rem;
  width: 550px;
}

/* Card */

.set {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.card {
  background: #eeeeee;
  color: #121212;
  margin: 2rem;
  flex: 3;
  min-height: 300px;
}

.card-title {
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: #121212;
  border-bottom: 2px solid #FC5D7C;
}

.card-description {
    font-size: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 100%;
  }
}
