html {
  background: #121212 no-repeat center center fixed;
}

body {
  font-family: "Glacial-Indifference", sans-serif;
  color: #f5f5f5;
}

.top-header {
  margin-top: 5rem;
}

#logo {
  height: 90px;
}

#logo-text {
  float: right;
  font-family: "Glacial-Indifference", sans-serif;
}

.theme-color {
  color: #FC5D7C;
}
